# Exploratory Data Analysis (EDA):


Through EDA, we aim to uncover actionable insights and patterns within the dataset that can inform decision-making for various stakeholders, including Airbnb hosts, guests, and policymakers. By understanding the dynamics of the Airbnb market in Cape Town, we can identify opportunities for optimization, improvement, and innovation within the Airbnb ecosystem.

In [2]:
import numpy as np     
import pandas as pd      
import matplotlib.pyplot as plt   
import seaborn as sns 
import re

# Statistical analysis
import scipy.stats as stats

# Jupyter Notebook magic commands for inline plotting
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
df = pd.read_csv('data/clean/clean_listings.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21570 entries, 0 to 21569
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   host_name                       21570 non-null  object
 1   neighbourhood                   21570 non-null  object
 2   latitude                        21570 non-null  float64
 3   longitude                       21570 non-null  float64
 4   room_type                       21570 non-null  object
 5   price                           21570 non-null  float64
 6   minimum_nights                  21570 non-null  int64
 7   number_of_reviews               21570 non-null  int64
 8   last_review                     16260 non-null  object
 9   reviews_per_month               16260 non-null  float64
 10  calculated_host_listings_count  21570 non-null  int64
 11  availability_365                21570 non-null  int64
 12  number_of_reviews_ltm           21570 non-null  int64
 13  property_type                   21570 non-null  object
 14  city                            21570 non-null  object
 15  rating                          12927 non-null  float64
 16  no._of_bedrooms                 21570 non-null  object
 17  no._of_beds                     21570 non-null  object
 18  no._of_baths                    21570 non-null  object
dtypes: float64(5), int64(5), object(9)
memory usage: 3.1+ MB

In [6]:
df.describe()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,rating
count,21570.000000,21570.000000,21570.000000,21570.000000,21570.000000,16260.000000,21570.000000,21570.000000,21570.000000,12927.000000
mean,-33.957945,18.473844,4089.744692,4.320770,22.531247,0.931870,11.639638,199.584886,6.466110,4.772162
std,0.100604,0.126888,9601.959073,16.874074,44.182936,1.077782,24.790034,127.126920,11.047883,0.273646
min,-34.262840,18.320145,160.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,1.670000
25%,-34.019835,18.400963,1050.000000,1.000000,1.000000,0.190000,1.000000,78.000000,0.000000,4.670000
50%,-33.928754,18.427510,2000.000000,2.000000,5.000000,0.570000,2.000000,239.000000,2.000000,4.850000
75%,-33.910040,18.482737,3816.000000,3.000000,24.000000,1.260000,7.000000,314.000000,8.000000,4.960000
max,-33.572180,18.936030,600850.000000,999.000000,724.000000,16.650000,151.000000,365.000000,216.000000,5.000000